parameters:
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    # Test methods with intentionally no return type
    -
      message: '#::test.+\(\) has no return typehint specified#'
      path: 'tests'
